@import url('.././cmps/ConfirmModal/confirmModal.scss');
@import url('.././/cmps/Navbar/navbar.scss');
@import url('.././/cmps/UserFilter/userFilter.scss');
@import url('.././/cmps/UserForm/userForm.scss');
@import url('.././/cmps/UserList/userList.scss');
@import url('.././/cmps/UserPreview/userPreview.scss');
@import url('.././/cmps/Footer/footer.scss');

form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
}


.button-mui-form {
  margin-left: 5px !important;
  width: 100px !important;
}

.mui-button {
  width: 50% !important;
}

.text-field {
  margin: 5px !important;
  width: 50%;
}

.main-app-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.block {
  display: block;
}

.none {
  display: none;
}

.button-mui {
  margin: auto !important;
  width: 30% !important;
}

@media screen and (min-width: 375px) {

  .user-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
  } 

  .button-mui {
    // margin-left: 5px !important;
    width: 200px !important;
  }
}
