.user-from-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  margin-top: 25px;
}

.new-user-header {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
