.new-user-header {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.add-user-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  // border: 1px solid black;
  padding: 30px;
  width: 50%;
  border-radius: 10px;
  margin: auto;

}

.button-container{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block {

  width: 100%;
}

@media screen and (min-width: 375px) {
  .new-user-header {
    width: 400px !important;
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .add-user-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  .mui-button {
    margin-top: 15px !important;
  }
}
